<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @color.image %>
</p>

<p>
  <strong>Color:</strong>
  <%= @color.color %>
</p>

<p>
  <strong>History:</strong>
  <%= @color.history %>
</p>

<p>
  <strong>Symb:</strong>
  <%= @color.symb %>
</p>

<%= link_to 'Edit', edit_color_path(@color) %> |
<%= link_to 'Back', colors_path %>
