<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @color.image, class: "rounded-circle", style: "width: 20%" %>
</p>

<br>
<strong style="font-size: 60PX"><%= @color.color %></strong>


<p>
<br>

<table style="width:100%">

<tr>
  <th><strong style="font-size: 30PX">Historique</strong></th>
  <%= @color.history %>

  <th><strong style="font-size: 30PX" >Symbolique</strong></th>
  <%= @color.symb %>
</tr>

  </table>
</p>

<div class="row">
<% @color.images.each do |image| %>
<div class="">
<%= image_tag image.url, style: "max-height: 420px" %>
</div>
<% end %>
</div>

<%= link_to 'Edit', edit_color_path(@color) %> |
<%= link_to 'Destroy', @color, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', colors_path %>
